<%- include("partials/header", { title: "Page" }) -%>
</head>
          <!-- navbar  -->

<%- include("partials/navbar") -%>
    <!-- navbar  -->
    <!-- body -->
    <div class="container-fluid"  >
      <div class="row" >
        <div class="col-md-11 col-11 mx-auto" style="margin-top: 5rem;">
          <div style="padding-top: 1rem;">
            <div class="container mt-5">
                <h2>Available Courses</h2>
                <div class="row">
                    <% courses.forEach(course => { %>
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="https://drive.google.com/thumbnail?id=<%= course.courseImage %>" class="card-img-top" alt="<%= course.courseName %>">
                                <div class="card-body">
                                    <h5 class="card-title"><%= course.courseName %></h5>
                                    <p class="card-text">Start Date: <%= new Date(course.startDate).toLocaleDateString() %></p>
                                    <a href="/courses/<%= course._id %>" class="btn btn-primary">View Details</a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                    <% if (useremail && useremail === 'admin@gmail.com') { %>
                    <div class="col-md-4 mb-4">
                        <div class="card text-center" onclick="location.href='/addcourse';" style="cursor: pointer;">
                            <div class="card-body">
                                <h1 style="font-size: 48px; color: #007bff;">+</h1>
                            </div>
                        </div>
                        
                    </div>
                    <% } %>
                </div>
            </div>
            <!-- content here -->
          </div>

          <!-- body -->


        </div>
      </div>
    </div>

    <!-- footer -->
    <%- include("partials/footer") -%>
